@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #efefef;
    background-image: url('../images/background.jpg');
    width: 100%;
    height: 100%;
    font-family: 'dodum';
}

@font-face {
    font-family: 'godo';
    src: url('../public/fonts/godoFont/GodoB.ttf');
}
@font-face {
    font-family: 'dodum';
    src: url('../public/fonts/Gowun_Dodum/GowunDodum-Regular.ttf');
}
@font-face {
    font-family: 'sans';
    src: url('../public/fonts/source-sans-pro/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: 'lora';
    src: url('../public/fonts/Lora/static/Lora-Medium.ttf');
}

.slide-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  
  .slide-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .slide-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .slide-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms, transform 300ms;
  }